
// 関連するそれぞれのファイルへ、呼び出しのためいちいち記述しておかないといけない。
// @use 'var' as var;
// @use 'mixin' as mixin;

header {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #333;
}