@charset "UTF-8";
html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 93.75%;
  overflow-x: hidden;
}
:root body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "游ゴシック体", YuGothic, YuGothicUI, sans-serif;
  color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #000;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #000;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #00ffff;
}

.btn {
  width: 200px;
  padding: 10px 0;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #4BBE92;
  border: none;
  border-radius: 10px;
}
.btn.blue {
  background-color: rgb(55, 155, 255);
}

ul {
  display: grid;
  gap: 10px;
}
@media screen and (min-width: 1000px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 469px) and (max-width: 999px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 468px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
ul li {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #4BBE92;
}