@charset 'UTF-8';

@use 'reset';
@use 'base';
@use 'zindex';
@use 'forwards' as fw;
@use 'module/header';
@use 'module/footer';

.box {
  width: 200px;
  height: 200px;
  background-color: fw.$color-aqua;
}

.btn {
  @include fw.defalut-button;
  &.blue {
    background-color: fw.$color-nomal-blue;
  }
}

ul {
  display: grid;
  gap: 10px;
  @include fw.media-query-pc {
    grid-template-columns: repeat(4, 1fr);
  }
  @include fw.media-query-tb {
    grid-template-columns: repeat(2, 1fr);
  }
  @include fw.media-query-sp {
    grid-template-columns: repeat(1, 1fr);
  }
  li {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: fw.$color-green;
  }
}