@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap");
html {
  font-size: 93.75%;
  scroll-behavior: smooth;
  /*  ページ先頭の要素に付ける。戻る位置を調整してくれる。
  scroll-margin-top: 80px;  */
}

body {
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 1050px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(230, 243, 255);
}

h2 {
  margin-right: 0.5em;
  font-size: 3rem;
  line-height: 1em;
  font-weight: 900;
  color: rgb(55, 155, 255);
}

.box1-one {
  width: 165px;
  height: 165px;
  font-size: 2em;
  border: 5px solid #bbb;
  background-color: #b8bebe;
}

.box1-two {
  width: 165px;
  height: 165px;
  font-size: 2em;
  border: 5px solid #bbb;
  background-color: #b3b4e6;
}

.box1-three {
  width: 165px;
  height: 165px;
  font-size: 2em;
  border: 5px solid #bbb;
  background-color: #bae6b6;
}

.box2-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  font-size: 30px;
  font-weight: 900;
  border: 5px solid #d86767;
  background-color: #b8bebe;
}

.box2-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  font-size: 60px;
  font-weight: 900;
  border: 5px solid #5c5ee4;
  background-color: #b3b4e6;
}

.box2-three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  font-size: 90px;
  font-weight: 900;
  border: 5px solid #59e74c;
  background-color: #bae6b6;
}