@charset "UTF-8";
html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 93.75%;
  overflow-x: hidden;
}
:root body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "游ゴシック体", YuGothic, YuGothicUI, sans-serif;
  color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #000;
}

main {
  margin-top: 70px;
}
main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
main .container:first-of-type {
  padding-top: 100px;
}
main .container .box {
  height: 100px;
  margin-bottom: 30px;
  background-color: #47bbd4;
}
main .container .box.box-min1 {
  width: min(50%, 500px);
}
main .container .box.box-min2 {
  width: min(80%, 500px);
}
main .container .box.box-min3 {
  width: min(100%, 500px);
}
main .container .box.box-max1 {
  width: max(50%, 500px);
}
main .container .box.box-max2 {
  width: max(80%, 500px);
}
main .container .box.box-max3 {
  width: max(100%, 500px);
}
main .container .box.box-clamp {
  width: clamp(200px, 50%, 500px);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #000;
}