@charset "UTF-8";
html, body, p {
  margin: 0;
}

:root {
  font-size: 93.75%;
  overflow-x: hidden;
}
:root body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "游ゴシック体", YuGothic, YuGothicUI, sans-serif;
  color: #333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  z-index: 1;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #00ffff;
}